div#contatos{
    font-family: cursive;
    font-size: 12pt;
}

img#img{
    width: 100px;
}

img#tabela{
    margin-left: auto;
    margin-right: auto;
    display: inline;
    width: 49%;
    float: left;
    
    
}

img#gif{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 49%;
    float: right;
}

div#outro2{
    margin-top: 20px;
}